@import url('./mainDefult.css');
/* .main{
    height: 79%;
} */

/* recommendation.css */

/* 전체 페이지 스타일 */
.recMain {
    height: 79%;
    border: 1px solid #3333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  /* 식단 추천 받기 버튼 */
  .prevBtnFood {
  }
  /* 추천 식단 섹션 */
  .recommendationSection {
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    box-shadow: 5px 6px 6px rgba(0,0,0,0.2);
    height: 85%;
    width: 80%;
    padding: 7% 4%;
  }

  .nutritionWarningBox {
    /* background-color: #f8d7da; */ 
    height: 40%;
  }

  
  .nutritionWarningBox > h4, .recFoodContainer > h4 {
    font-size: 14px; 
    height: 15%;
    /* border: 1px solid #333; */
  }
  .nutritionWarningBox > div{
    height: 85%;
    display: flex;
    align-items: center;
    margin-left: 10%;
  }

  .nutritionWarningBox> p {
    font-size: 14px;
  }
  
  /* 추천 식단 컨테이너 */
  .recFoodContainer {
    height: 60%;
  }
  
  .recFoodContainer .slick-slider{
    height: 70%;
/*     background: #ededed; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slick-slider>.slick-prev, .slick-slider>.slick-next{
    width: 30px;
    height: 30px;
    cursor: pointer;
    /* background: rgba(70, 70, 70, 0.7); */
    z-index: 1;
    /* border-radius: 50%; */
    position:initial;
  }
  .slick-slider > .slick-prev::before, .slick-slider > .slick-next::before{
    color:#4c4c4c
  }

  .slick-slider .slick-list{
    width: 68%;
    height: 100%;
    margin: 0 auto;
    transform: translate3d(0,0,0);
  }
  .slick-slider .slick-list .slick-track{
    width: 100%;
    height: 100%;
  }
  .slick-slider > .slick-list > .slick-track > div{
    width: 100%;
    height: 100%;
  }
  .slick-slider > .slick-list > .slick-track > div > div{
    width: 100%;
    height: 100%;
    background: #0000000f;
    border-radius: 10px;
  }

  .imgSlider{
    width: 140px;
    height: 75%;
    object-fit: contain;
    margin: 0 auto;
  }
  .txtSlider{
    height: 25%;
    text-align: center;
    font-size: 14px; 
    font-weight: bold;
    line-height: 40px;
  }

.recFoodContainer .slick-dots{
    width: 100%;
    position: absolute;
    text-align: center;
    list-style: none;
    bottom: 0%;
}
.recFoodContainer .slick-dots li {
    background: #858585; 
    border-radius: 50%; 
    display: inline-block;
    width: 7px; 
    height: 7px;
    margin: 0 5px;
    cursor: pointer;
  }

  .slick-dots li button{
    font-size: 0;
    width: 100%;
    height: 100%;
  }
  .slick-dots .slick-active button {
    background: #5cc1a0; /* 활성화된 점의 배경색 */
  }
  .slick-dots li button:before{
    display: none;
  }
  

  .recFoodContainer > a {
    font-size: 12px;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* before */
  .h4Txt::before{
    display:inline-block;
    content: '';
    width: 5px;
    height: 17px;
    background: #5cc19f86;
    border-radius: 2px;
    margin-right: 7px;
    vertical-align: middle;
  }
  .nutritionWarningBox> div > p::before{
    content:'•';
    display:inline-block;
    margin-right: 8px;
  }