@import url("../main/css/mainDefult.css");
.myPageMain{
  display: flex;
  align-items: center;
}
.myPageSection{
  background-color: #f8fffd;
  width: 80%;
  height: 92%;
  margin: 0 auto;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  box-shadow: 5px 6px 6px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2%;
}


.myPageSection > .profileBox{
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #5cc1a0; 
}
#profileImg {
  height: 80px;
  width: 80px;
  border-radius: 25px;
  margin-bottom: 10px;
}
.nicknameTxt{
  font-weight: bold;
}


.myPageSection > .accountInfoBox{
  width: 70%;
  height: 15%;
}
.accountTxt , .memberTxt{
  font-size: 11px;
  color: #666;
  width: auto;
  padding: 0 0 3px 5px;
}
.accountInfoBox > div{
  height: 80%;
  background: #ffffff;
  border: 1px solid #f6f6f6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
}
.accountInfoBox > div > p{
  width: auto;
  font-size: 13px;
}
.myPageIdTxt{
  border:none;
}
.myPageSection > .memberInfoBox{
  width: 70%;
  height: 30%;
}
.memberInfoBox > ul{
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.memberInfoBox > ul > li {
  display: flex;
/*   gap: 50px; */
  font-size: 14px;
}
.memberInfoBox > ul > li > p{
  width: 40%;
  margin-left: 8%;
}
.memberInfoBox > ul > li > div{
  width: 50%;
  border-left: 1px solid #dddddd;
  padding-left: 30px;
}

.logoutBtnBox{
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logoutBtn {
  border: none;
  width: 45%;
  height: 38px;
  background-color: #3a958a;
  color: white;
  font-size: 13px;
  border-radius: 10px;
}

.beforeTxt::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  margin: 0 10px; 
  background-color: #587dbd;
}
.weight::before {
  background-color: #68ccd3;
}
.activity::before {
  background-color: #8af4a1;
}
